.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill {
    margin: 10px;
    padding: 10px;
    border: 1px solid #8892b0;
    border-radius: 8px;
    background-color: #a8b2d1;
    text-align: center;
    width: 150px;
  }
  
  .section-title {
    color: #112240;
  }
  